
@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Roboto+Mono&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
}

a.home {
	background-color: rgb(250,128,114);
}

a.teaching {
	background-color: rgb(177,207,148);
}

a.research {
	background-color: rgb(75,175,234);
}

a.service {
	background-color: rgb(235,179,138);
}

a.students {
	background-color: rgb(147,170,216);
}

a.lab {
	background-color: rgb(250,217,120);
}

a:link, a:visited {
	color: black;
	text-decoration: none;
	padding: 4px;
	border-radius: 7px;
}

a:hover {
	filter: brightness(115%);
}

#links {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	max-width: 100%;
	margin: auto;
	font-size: 2.3vw;
}

img {
	border-radius: 10px;
}

img.banner {
	border-radius: 0px;
	max-width: 100%;
	margin: auto;
}

img.profilepic {
	float: left;
	max-width: 25%;
	max-height: 100%;
	margin: auto;
}

img.leaves {
	float: right;
	max-width: 25%;
	max-height: 100%;
	margin: auto;
}

img.colors {
	display: block;
	margin: auto;
	width: 20%;
}

div.bio {
	float: left;
	margin: auto;
	max-width: 50%;
	text-align: center;
	font-size: 2.2vw;
}